
.re-toolkit-code {
    background-color: rgb(30, 30, 30);
    padding: 10px 20px;
    overflow-x: auto;
    font-size: 14px;

    * {
        font-family: monospace;
        font-size: 16px;
        line-height: 2;
    }
}
