
.re-toolkit-code {
    overflow-x: auto;
    font-size: 13px;

    * {
        font-family: monospace;
        font-size: 16px;
        line-height: 2;
    }

    .react-syntax-highlighter-line-number {
        margin-left: -5px;
        margin-right: 10px;
    }
}

.re-toolkit-code-view {
    overflow: hidden;
}
