<div class="f-controls">
    <button type="button" class="f-control f-global-control" data-f-toggle-control=".f-item-notes" title="Toggle Notes">
        <b class="btr-comment"></b>
    </button>
    <button type="button" class="f-control f-global-control" data-f-toggle-control=".f-item-dna" title="Toggle DNA">
        <svg>
            <use xlink:href="#f-icon-dna" />
        </svg>
    </button>
    <button type="button" class="f-control f-global-control" data-f-toggle-control=".f-item-code" title="Toggle Code">
		<svg>
			<use xlink:href="#f-icon-code" />
		</svg>
	</button>
    <button type="button" class="f-control" title="Settings" data-f-toggle-settings="#f-settings">
        <b class="btr-setting"></b>
    </button>
</div>
