<div class="f-item-controls">
	{{#if notes}}
	<span class="f-control f-icon" data-f-toggle-control=".toggle-{{id}}-notes" title="Toggle Notes">
		<b class="btr-comment"></b>
	</span>
    {{/if}}

    {{#if this.data.helix}}
	<span class="f-control f-icon" data-f-toggle-control=".toggle-{{id}}-dna" title="Toggle DNA">
        <svg>
            <use xlink:href="#f-icon-dna" />
        </svg>
    </span>
    {{/if}}

    {{#unless this.data.nocode}}
    <span class="f-control f-icon" data-f-toggle-control=".toggle-{{id}}-code" title="Toggle Code">
		<svg>
			<use xlink:href="#f-icon-code" />
		</svg>
	</span>
    {{/unless}}
</div>
