{{#if notes}}
<div class="f-item-notes toggle-{{id}}-notes" data-f-toggle="notes" id="toggle-{{id}}-notes" aria-expanded="false">
    {{{notes}}}
</div>
{{/if}}

{{#if this.data.helix}}
<div class="f-item-dna toggle-{{id}}-dna" data-f-toggle="dna" id="toggle-{{id}}-dna" aria-expanded="false">
    {{> f-dna}}
</div>
{{/if}}

<div class="f-item-code toggle-{{id}}-code" data-f-toggle="code" id="toggle-{{id}}-code" aria-expanded="false">
    <pre><code class="language-markup">
{{material @key @root}}</code></pre>
    <button class="f-btn-copy" type="button" data-clipboard-target="#toggle-{{id}}-code .language-markup">
        <img src="/assets/ar/images/clipboard.svg" alt="copy to clipboard" />
    </button>
</div>

<div class="f-item-preview" id="preview-{{@key}}">
    {{{material @key @root}}}
</div>


