<div class="f-navbar">
	<a href="#" class="f-navbar-control" data-find="">
		<svg>
			<use xlink:href="#f-icon-dna" />
		</svg>
		<div>All Elements</div>
	</a>
	<a href="#" class="f-navbar-control" data-find="atom">
		<svg>
			<use xlink:href="#f-icon-atom" />
		</svg>
		<div>Atoms</div>
	</a>
	<a href="#" class="f-navbar-control" data-find="molecule">
		<svg>
			<use xlink:href="#f-icon-molecule" />
		</svg>
		<div>Molecules</div>
	</a>
    <a href="#" class="f-navbar-control" data-find="organism">
		<svg>
			<use xlink:href="#f-icon-organism" />
		</svg>
		<div>Organisms</div>
	</a>
    <a href="#" class="f-navbar-control" data-find="catalyst">
        <svg>
            <use xlink:href="#f-icon-catalyst" />
        </svg>
        <div>Catalysts</div>
    </a>
    <a href="#" class="f-navbar-control" data-find="templates">
		<svg>
			<use xlink:href="#f-icon-template" />
		</svg>
		<div>Templates</div>
	</a>
    <a href="#" class="f-navbar-control" data-find="page">
		<svg>
			<use xlink:href="#f-icon-page" />
		</svg>
		<div>Pages</div>
	</a>
</div>
