<section id="f-settings">
    <h4>Settings</h4>
    <form>
        <div class="f-settings-group">
            <h5>Menu Position:</h5>
            <div class="f-btn-group" data-selected="{{toolkit.menu}}" data-btn-group="menu">
                <label>
                    Left
                    <input type="radio" name="menu" value="left" />
                </label>
                <label>
                    Right
                    <input type="radio" name="menu" value="right" />
                </label>
            </div>
        </div>

        <div class="f-settings-group">
            <h5>Fullscreen:</h5>
            <div class="f-btn-group" data-selected="{{toolkit.fullscreen}}" data-btn-group="fullscreen">
                <label>
                    On
                    <input type="radio" name="fullscreen" value="on" />
                </label>
                <label>
                    Off
                    <input type="radio" name="fullscreen" value="off" />
                </label>
            </div>
        </div>

        <div class="f-settings-group">
            <h5>Sticky:</h5>
            <div class="f-btn-group" data-selected="off" data-btn-group="sticky">
                <label>
                    On
                    <input type="radio" name="sticky" value="on" />
                </label>
                <label>
                    Off
                    <input type="radio" name="sticky" value="off" />
                </label>
            </div>
        </div>
    </form>
</section>
