.re-toolkit-toolbar {
    width: $toolbar-width;
    min-width: $toolbar-width;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    box-shadow: $drop-shadow;
    flex-shrink: 0;

    > div {
        min-width: $toolbar-width + 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex-shrink: 0;
    }

    .spacer {
        min-height: 10px;
        flex: 1;
    }

    button {
        width: $toolbar-width;
        height: 72px;
        min-height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 10px;
        color: $black;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 5px;
            height: 5px;
            transform: translateY(-120%) translateX(-150%) rotate(45deg);
            background-color: $blue;
            transition: transform 0.5s ease-in-out;
        }

        div {
            margin-top: 5px;
        }

        svg {
            width: 24px;
            height: 24px;

            * {
                fill: $black;
            }

            use {
                color: #bbb;
                transition: color 0.2s ease-out;
            }
        }

        &:hover {
            color: $black;

            svg {
                use {
                    color: #749cc8;
                }
            }
        }

        &.active,
        &:focus {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 8px;
                height: 8px;
                transform: translateY(-120%) translateX(-50%) rotate(45deg);
                background-color: $blue;
                transition: transform 0.5s ease-in-out;
            }

            svg {
                use {
                    color: #749cc8;
                }
            }
        }
    }

    button.toggle {
        height: 64px;
        min-height: 64px;

        svg {
            width: 18px;
            height: 18px;
        }

        &:hover {
            color: $black;
            opacity: 0.5;
        }

        &.active,
        &:focus {
            &:before {
                content: '';
                display: none;
            }
        }
    }
}

.re-toolkit-icons {
    display: none;

    .st0 {
        fill: $black;
    }

    .cls-1 {
        fill: $toolbar-svg-fill;
    }

    .cls-2 {
        fill: $white;
    }
}
