.re-toolkit-toolbar {
    position: fixed;
    left: 0;
    top: $header-height;
    width: $toolbar-width;
    height: calc(100vh - #{$header-height});
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    box-shadow: $drop-shadow;

    .spacer {
        min-height: 10px;
        flex: 1;
    }

    button {
        width: 100%;
        height: 72px;
        min-height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 10px;
        color: $black;
        transition: all .5s ease-in-out;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 5px;
            height: 5px;
            transform: translateY(-120%) translateX(-150%) rotate(45deg);
            background-color: $blue;
            transition: all .5s ease-in-out;
        }

        div {
            margin-top: 5px;
        }

        svg {
            width: 24px;
            height: 24px;

            transition: all .5s ease-in-out;

            * {
                fill: $black;
                transition: all .2s ease-in-out;
            }
        }

        &:hover {
            color: $black;
        }

        &.active,
        &:focus {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 8px;
                height: 8px;
                transform: translateY(-120%) translateX(-50%) rotate(45deg);
                background-color: $blue;
                transition: all .5s ease-in-out;
            }
        }
    }

    button.toggle {
        height: 64px;
        min-height: 64px;

        svg {
            width: 18px;
            height: 18px;

        }

        &:hover {
            color: $black;
            opacity: 0.5;
        }
        &.active,
        &:focus {
            &:before {
                content: '';
                display: none;
            }
        }
    }

    .st0 {
        fill: $black;
    }

    .cls-1 {
        fill: $toolbar-svg-fill;
    }

}
