
.re-toolkit-card {
    width: 100%;
    box-shadow: $drop-shadow;
    overflow-x: hidden;
    min-width: 320px;

    &:not(:last-child) {
        margin-bottom: 60px;
    }

    button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;

        svg {
            width: 14px;
            height: 14px;
        }
    }

    &-heading {
        display: flex;
        background-color: $white;
        padding: 12px 8px 12px 24px;
        color: $black;
        border-radius: 4px 4px 0 0;
        align-items: center;
        border-bottom: 1px solid $border-color;

        *:first-child {
            flex-grow: 1;
        }

        &.thin {
            padding: 6px 8px 6px 24px;
            border-top: 1px solid $border-color;
            border-bottom: none;
            border-radius: 0;
            min-height: 38px;

            button {
                width: 40px;
                height: 24px;
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    &-body {
        background-color: $white;

        &-wrap {
            display: block;
            iframe {
                display: block;
                width: 100%;
                min-height: 70px;
            }
        }
    }

    &-footer {
        padding: 2px 8px 2px 24px;
        background-color: $white;
        border-top: 1px solid $border-color;
        border-radius: 0 0 2px 2px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

        button svg {
            width: 18px;
            height: 18px;
        }
    }

}
