$button-text: (
    primary: color(white),
    secondary: color(white),
    tertiary: color(dark-grey),
    white: color(grey),
    grey: color(dark-grey),
    dark-grey: color(white),
    light-grey: color(dark-grey)
);

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: px2rem(16);
    padding: px2rem(24) px2rem(32);
    text-decoration: none;
    border-radius: px2rem(8);
    border: 1px solid transparent;
    transition: all .125s ease-in-out;
    outline: none;
    cursor: pointer;

    @media #{$breakpoint-sm-up} {
        padding: px2rem(24) px2rem(48);
        font-size: px2rem(20);
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
        user-select: none;
    }

    &:hover {
        text-decoration: none;
    }

    @for $i from 1 through length($button-sizes) {
        $size: nth($button-sizes, $i);
        $font: px2rem(nth($button-font, $i));
        $padH: px2rem(nth($button-padH, $i));
        $padV: px2rem(nth($button-padV, $i));

        &.btn-#{$size} {
            font-size: #{$font};
            padding: #{$padV} #{$padH};
        }
    }

    @each $name, $color in $colors {

        &.btn-#{$name} {
            background-color: #{$color};
            color: map-get($button-text, $name);

            &:hover {
                opacity: .9;
            }

            &:focus {
                box-shadow: 0 0 px2rem(10) 1px #{$color};
            }
        }

        &.btn-outline-#{$name} {
            background-color: transparent;
            color: #{$color};
            border: 2px solid #{$color};

            &:hover {
                color: map-get($button-text, $name);
                border: 2px solid darken($color, 5%);
                background-color: #{$color};
            }

            &:focus {
                box-shadow: inset 0 0 0 1px #{$color};
            }
        }
    }

    &.btn-clear {
        background-color: transparent;
    }

    &.btn-link {
        color: inherit;
        padding: 0;
        background-color: transparent;
    }

    &.btn-block {
        display: block;
        width: 100%;
    }
}
