.re-toolkit-content {
    flex-grow: 1;
    overflow-x: hidden;
    z-index: 1;
    padding: 60px;
    padding-top: 48px;
    position: relative;

    @include breakpoint(xs) {
        padding: 20px;
    }

    &-fullscreen {
        padding: 0;
    }

    &-crumbs {
        @extend h3;

        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        font-size: 24px;

        @include breakpoint(xs) {
            margin-bottom: 10px;
        }

        * {
            font-family: inherit;
            position: relative;
            color: $gray;
        }

        *:not(:last-child) {
            &:after {
                content: '/';
                color: $blue;
                margin: 0 10px;
                transform: translateX(100%);
            }
        }

        a {
            text-decoration: none;
            color: $black;
            line-height: 1;
            &:hover {
                text-decoration: underline;
            }
        }

    }
}
