.re-toolkit-content {
    flex-grow: 1;
    overflow-x: hidden;
    z-index: 1;
    padding: 60px;

    &-fullscreen {
        padding: 0;
    }

    &-crumbs {
        @extend h3;

        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;


        * {
            font-family: inherit;
            position: relative;
            color: $gray;
        }

        *:not(:last-child) {
            &:after {
                content: '/';
                color: $blue;
                margin: 0 10px;
                transform: translateX(100%);
            }
        }

        a {
            text-decoration: none;
            color: $black;
            line-height: 1;
            &:hover {
                text-decoration: underline;
            }
        }

    }
}

.re-toolkit-card {
    width: 100%;
    box-shadow: $drop-shadow;
    overflow-x: hidden;
    min-width: 320px;

    &:not(:last-child) {
        margin-bottom: 60px;
    }

    button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;

        svg {
            width: 14px;
            height: 14px;
        }
    }

    &-heading {
        display: flex;
        background-color: $white;
        padding: 12px 8px 12px 24px;
        color: $black;
        border-radius: 4px 4px 0 0;
        align-items: center;
        border-bottom: 1px solid $border-color;

        *:first-child {
            flex-grow: 1;
        }
    }

    &-body {
        background-color: $white;

        &-wrap {
            display: block;
            iframe {
                display: block;
                width: 100%;
            }
        }
    }

    &-footer {
        padding: 2px 8px 2px 24px;
        background-color: $white;
        border-top: 1px solid $border-color;
        border-radius: 0 0 2px 2px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

        button svg {
            width: 18px;
            height: 18px;
        }
    }

}
