
.f-icons-usage {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f7;
  padding: 0;

  &:first-child {
    padding-top: 20px;
  }
  pre, code {
    margin: 0;
  }

  .icon-demo {
    width: 60px;
    position: relative;

    > * {
      font-size: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .icon-code {
    width: calc(100% - 60px);
  }
}

.f-icons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-width: 768px;

  .glyph {
    font-size: 2.5vw;
    width: 20%;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;

  }
  .mls {
    font-size: .76vw;
    margin-left: .25em;
    position: absolute;
    left: 3vw;
    top: 50%;
    transform: translateY(-50%);
  }
  .unit {
    float: left;
    font-size: 10px;
    border: none;
    display: none;
  }
  .size1of2 {
    width: 50%;
    padding: 0 .5em;
  }
  .size1of1 {
    width: 100%;
  }
  .hidden-true {
    display: none;
  }

  @media only screen and (max-width : 768px) {
    .glypf { font-size: 12px; }
    .mls { font-size: 8px; }
  }
}


