$f-x-pad: 30px;

body {
	margin: 0;
}


.f-container {
	position: relative;
	padding: 80px $f-x-pad 50px $f-x-pad;
	z-index: 0;
    font-family : Roboto, Helvetica, Arial, sans-serif;

    &.fullscreen {
        padding: 80px 0 50px 0;
    }
}

.f-grid {
	font-size: 10px;
	padding: 0 15px;

	div[class^="col-"], div[class*=" col-"] {
		border-left: 1px solid $f-grey;
		border-top: 1px solid $f-grey;
		padding: 10px;

		&:last-child {
			border-right: 1px solid $f-grey;
		}
	}

	.row { background-color: $f-grey-light; }

	.row:last-child {
		div[class^="col-"], div[class*=" col-"] {
			border-bottom: 1px solid $f-grey;
		}
	}

}

.f-border-demo {
	$f-border-demo-size: 120px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 5px;

	span {
		width: $f-border-demo-size;
		height: $f-border-demo-size;
		margin-right: 5px;
		padding: 10px 12px;
		font-size: 10px;
		background-color: $f-grey-light;

    display: flex;
    justify-content: center;
    align-items: center;

		&:last-child {
			margin-right: 0;
		}
	}
}

.btn-group > .btn {
  flex-grow: 1 !important;
}

.f-docs {
    padding: 0 40px;
}
