$f-btn-group-radius: 2px;

.right {
    #f-settings {
        border-left    : 12px solid $gray-dark;
        padding        : 10px 10px 20px 20px;
    }
}

.left {
    #f-settings {
        border-right    : 12px solid $gray-dark;
        padding         : 10px 15px 20px 15px;
    }
}

#f-settings {
    display: none;
    background-color    : $gray-darker;
    margin              : 0 0 20px 0;

    form {
        width: 100%;
        color: $gray-lightest;
        padding: 0;
        margin: 0;

        input[type="text"],
        textarea,
        select {
            width: 100%;
            background-color: transparent;
            color: $gray-lightest;
            padding: 5px 10px;
            margin: 10px 0 0 0;
            border: 1px solid $gray-light;

            &:focus {
                outline: none;
            }
        }
    }

    h4 {
        font-size: 16px;
        margin: 5px 0 20px 0 !important;
        display: block;
        color: $orange;
        padding-bottom: 12px;
        border-bottom: 1px solid $gray;
        font-weight: normal;
    }

    h5 {
        font-size: 14px;
        display: block;
        font-weight: normal;
        margin: 0 !important;
        padding: 0 0 8px 0;
    }

    .f-settings-group {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}


.f-btn-group {
    display: flex;
    border-radius: $f-btn-group-radius;
    border: 1px solid $gray;

    > * {
        flex-grow: 1;
    }

    label {
        text-align          : center;
        padding             : 5px 10px;
        font-size           : 10px;
        text-transform      : uppercase;
        transition          : all .125s linear;
        user-select         : none;
        color               : $gray;
        background-color    : darken($gray-darker, 5);
        margin              : 0 !important;

        &:not(:first-child) {
            border-left: 1px solid $gray;
        }

        &:first-child {
            border-bottom-left-radius: $f-btn-group-radius;
            border-top-left-radius: $f-btn-group-radius;
        }

        &:last-child {
            border-bottom-right-radius: $f-btn-group-radius;
            border-top-right-radius: $f-btn-group-radius;
        }

        &:hover:not(.checked) {
            color: $orange;
            cursor: pointer;
            background-color    : darken($gray-dark, 2);
        }

        &.checked {
            background-color    : $gray-dark;
            color               : $gray-lightest;
        }
    }

    input {
        display: none;
    }
}
