// INPUT CHECKBOX
.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 4px;

    &:focus {
        box-shadow: inset 0px 0px 0px 1px $black;
        -webkit-box-shadow: inset 0px 0px 0px 1px $black;
        -moz-box-shadow: inset 0px 0px 0px 1px $black;
        outline: none;
    }

    input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        flex-grow: 0;

        &:checked,&[selected = "true"] {
            ~ .checkbox__box {
                text-align: center;
                @include icon;
                &:after {
                    content: '\e934';
                    font-size: 16px;
                    position: absolute;
                    left:2px;
                    bottom: 2px;
                }
            }
        }
    }

    &__box {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid $black;
        margin-right: 6px;
        background: transparent;
        outline: none;

        &--disabled {
            opacity: 0.4;
        }
    }

    &__text {
        flex-shrink: 1000;
        display: flex;
        align-self: center;
        line-height: 1.4;
        outline: none;
        flex-wrap: wrap;

        &--disabled {
            color: $gray;
        }
    }
}
