html, body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $color-black;
  text-align: left;
  background-color: $color-white;
}


p, .p {
    line-height: 1.5;
}

.number {
    font-family: $font-family-monospace;
}

small, .small {
    font-size: px2rem(11);
}

@include text-align();
