@mixin heading-factory() {
    @each $h, $style in $headings {
        $font: nth($style, 1);
        $size: nth($style, 2);
        $wt: nth($style, 3);

        #{$h} {
            font-family: #{$font};
            font-weight: $wt;
            font-size: $size;
        }
    }

    @each $h, $style in $headings {
        $font: nth($style, 1);
        $size: nth($style, 2);
        $wt: nth($style, 3);

        .#{$h} {
            font-family: #{$font};
            font-weight: $wt;
            font-size: $size;
        }
    }
}
