
@use "sass:math";

@function strip-units($number) {
    @return math.div($number, $number * 0 + 1);
 }

@function px2rem($px) {
    $rnum: strip-units($root-font);
    $fnum: strip-units($px);
    $rem: math.div($fnum, $rnum);
    @return #{$rem}rem;
}

@function px2vw($px) {
    $rnum: 1920;
    $fnum: strip-units($px);
    $vw: math.div($fnum, $rnum) * 100;
    @return #{$vw}vw;
}
