---
title      : Atomic Reactor Toolkit
sidebar    : true
---

<section class="mt-4">
    <h1 class="mb-4">Atomic Thinking</h1>
    <p>
        Atomic design is a methodology composed of five distinct stages working together to create interface design systems in a
        more deliberate and hierarchical manner.
    </p>
</section>
<section class="mt-5">
    <h2><a id="stages"></a>5 Stages of Atomic Design</h2>
    <div style="border-top: 1px solid #f7f7f7; border-bottom: 1px solid #f7f7f7;">
        <img src="/assets/ar/images/atomic-web-design.gif"/>
    </div>
</section>
<section class="mt-5">
    <h3 class="mt-5"><a id="atoms"></a>Atoms</h3>
    <p>
        Atoms serve as the foundational building blocks that comprise all our user interfaces. These atoms include basic HTML
        elements like form labels, inputs, buttons, and others that can’t be broken down any further without ceasing to be
        functional.
    </p>
    <br />
    <h4><a id="Creating_an_Atom_13"></a>Creating an Atom</h4>
    <p>
        Run the <a href="https://github.com/Atomic-Reactor/CLI">Atomic Reactor CLI</a>
        <kbd>create</kbd> command and follow the prompts.
    </p>
    <pre><code class="language-sh">$ arcli kit:gen atom</code></pre>

    <p>Alternatively you can skip the prompts by specifying flags with the create command</p>
    <pre><code class="language-sh">$ arcli kit:gen atom --name button-primary --group button --dna btn-primary --style button-primary</code></pre>

    <p>When the command above executes three things will happen:</p>
    <ol>
        <li>
            A new <kbd>~/src/materials/</kbd> file will be created: <kbd>button-primary.html</kbd> with some starter code.
        </li>
        <li>
            A new <kbd>~/src/views/</kbd> file will be created: <kbd>button.html</kbd> with code that adds your element
            group to the Butter menu.
        </li>
        <li>
            A new <kbd>~/src/assets/toolkit/styles/themes/default/</kbd> file will be created:
            <kbd>_button-primary.scss</kbd> and included in your theme’s <kbd>_style.scss</kbd>.
        </li>
    </ol>
    <blockquote class="blockquote">
        <small>
            If any of the files already exist, they will be skipped.<br />
            The theme in this case: <strong>default</strong>, can be changed by setting the Butter config value for theme:<br />
            <kbd>butter set --key theme --value &quot;my-theme&quot;</kbd>
        </small>
    </blockquote>
</section>
<section class="mt-5">
    <h3><a id="Molecules_30"></a>Molecules</h3>
    <p>
        Molecules are relatively simple groups of UI elements functioning together as a unit. For example, a form label,
        search input, and button can join together to create a search form molecule.
    </p>
    <br />
    <h4><a id="Creating_a_Molecule_33"></a>Creating a Molecule</h4>
    <p>
        Using the <a href="https://github.com/Atomic-Reactor/CLI">Atomic Reactor CLI</a> to generate
        a molecule is the same as creating an atom except use the ‘molecule’ keyword.
    </p>
    <pre><code class="language-sh">$ arcli kit:gen molecule</code></pre>
</section>
<section class="mt-5">
    <h3><a id="Organisms_39"></a>Organisms</h3>
    <p>
        Organisms are relatively complex UI components composed of groups of molecules and/or atoms and/or other organisms.
        These organisms form distinct sections of an interface.
    </p>
    <br />
    <h4><a id="Creating_an_Organism_42"></a>Creating an Organism</h4>
    <p>
        Using the <a href="https://github.com/Atomic-Reactor/CLI">Atomic Reactor CLI</a> to generate
        an organism is the same as creating an atom or molecule except use the ‘organism’ keyword.
    </p>
    <pre><code class="language-sh">$ arcli kit:gen organism</code></pre>
</section>

<section class="mt-5">
    <h3><a id="Templates_48"></a>Templates</h3>
    <p>
        Templates are page-level objects that place components into a layout. An important characteristic of templates is
        that they focus on the page’s underlying content structure rather than the page’s final content.
    </p>
    <br />
    <h4><a id="Creating_a_Template_51"></a>Creating a Template</h4>
    <p>
        Using the <a href="https://github.com/Atomic-Reactor/CLI">Atomic Reactor CLI</a> to create a
        template is similar to creating an atom, molecule, or organism except use the ‘template’ keyword and don’t worry
        about setting the <em>group</em> as all templates will be grouped under the ‘Templates’ section of the menu.
    </p>
    <pre><code class="language-sh">$ arcli kit:gen template</code></pre>
</section>
