---
title: "Page"
---

<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-xs-12 col-sm-12"><div class="bdc-gray bd-2 bgc-gray-lightest p-4" style="height: 300px;">HEADER</div></div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="bdc-gray bd-2 bgc-gray-lightest p-4" style="height: 768px;">CONTENT ZONE</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="bdc-gray bd-2 bgc-gray-lightest p-4" style="height: 768px;">SIDEBAR</div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-xs-12 col-sm-3"><div class="bdc-gray bd-2 bgc-gray-lightest p-4" style="height: 255px;">BLOCK</div></div>
    <div class="col-xs-12 col-sm-3"><div class="bdc-gray bd-2 bgc-gray-lightest p-4" style="height: 255px;">BLOCK</div></div>
    <div class="col-xs-12 col-sm-3"><div class="bdc-gray bd-2 bgc-gray-lightest p-4" style="height: 255px;">BLOCK</div></div>
    <div class="col-xs-12 col-sm-3"><div class="bdc-gray bd-2 bgc-gray-lightest p-4" style="height: 255px;">BLOCK</div></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-12">
    <div class="bdc-gray bd-2 bgc-gray-lightest p-4" style="height: 500px;">FOOTER</div>
    </div>
  </div>
</div>
