
.form-group {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin: px2rem(20) 0;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    label {
        user-select: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-weight: 500;

        * {
            font-weight: normal;
        }
    }

    &, label {
        input,
        textarea,
        select {
            flex-grow: 1;
            font-family: inherit;
            font-size: inherit;
            font-weight: 200;
            outline: none;
            border: 1px solid $color-grey;
            border-radius: $input-radius;
            line-height: 1;
            margin-top: 6px;
            padding: 10px;

            &:focus,
            &.focus {
                box-shadow: 0 0 0 5px rgba(lighten(nth($color-blue, 1), 5%), 0.25);
                border: 1px solid $color-blue;
            }

            &:disabled {
                opacity: 0.8;
            }

            &:first-child {
                &:last-child {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        textarea {
            line-height: 1.25;
        }
    }

    .inline,
    &.inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row !important;

    }


    .small, small {
        &:last-child {
            @extend .em;
            margin-top: 8px;
            font-weight: normal;
        }
    }

    &.row {

        label {
            flex-direction: row;
            align-items: center;
        }

        input,
        textarea,
        select {
            margin: 0;
        }
    }

    &.error {
        input,
        textarea,
        select {
            box-shadow: 0 0 0 5px rgba(lighten(nth($color-red, 1), 5%), 0.25);
            border: 1px solid $color-red !important;

            &:focus,
            &.focus {
                box-shadow: none;
            }
        }

        .small, small {
            color: $color-red;
        }
    }
}
