html, body {
  margin: 0;
  font-family: #{$font-family-base};
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $color-black;
  text-align: left;
  background-color: $color-white;
}

.number {
    font-family: $font-family-monospace;
}

.upper, .uppercase {
    text-transform: uppercase
}

.lower, .lowercase {
    text-transform: lowercase;
}

.proper, .propercase, .capitalize {
    text-transform: capitalize;
}

u, .u, .underline {
    text-decoration: underline;
}

strike,
.strike,
.strikethrough {
    text-decoration: line-through;
}

p, .p {
    line-height: 1.5;
}

.b,
.bold,
.strong,
strong {
    font-weight: 600;
}

em,
.em,
.italic,
.i {
    font-style: italic;
}

small,
.small {
    font-size: px2rem(11);
}

blockquote {
    padding          : px2rem(20);
    margin           : px2rem(20) 0;
    background-color : $color-grey-light;
    font-family      : 'Montserrat', sans-serif;
    border-radius    : 0 px2rem(50) px2rem(50) 0;
    border-left      : 5px solid $color-grey;
}

ul li,
ol li {
    line-height: 2;
    padding: 0;
    margin: 0;
}

ul, ol {
    margin: 0 0 0 px2rem(20);
    padding: 0;
}

.light {
    font-weight: 100;
}

.medium {
    font-weight: 500;
}



@include heading-factory();
@include text-align();
