.re-toolkit-dna-view {

    ul {
        li a {
            display: block;
            padding: 15px 30px;
            font-family: monospace;
            text-decoration: none;
            color: $blue;

            &:hover {
                text-decoration: underline;
                color: $black;
            }
        }
        li:nth-child(odd) {
            background-color: darken($white, 2%);
        }
    }
}
