.re-toolkit-settings {
    > .re-toolkit-card {
        width      : 25%;
        min-width  : 320px;
        top        : 50%;
        left       : 50%;
        display    : block;
        position   : absolute;
        transform  : translate(-50%, -50%);
        box-shadow : 0 0 15px 1px rgba(0,0,0, 0.5);
    }
}

#lightbox {
    display          : block;
    z-index          : $z-top;
    position         : absolute;
    width            : 100vw;
    height           : 100vh;
    top              : 0;
    left             : 0;
    overflow-x       : hidden;
    overflow-y       : auto;
    background-color : rgba(0, 0, 0, 0.5);
}
