.re-toolkit-settings {
    > .re-toolkit-card {
        width      : 100%;
        min-width  : 320px;
        max-width  : 540px;
        top        : 75px;
        left       : 50%;
        display    : block;
        position   : absolute;
        transform  : translateX(-50%);
        box-shadow : 0 0 15px 1px rgba(0,0,0, 0.5);

        @include breakpoint(xs) {
            width: calc(100% - 30px);
            min-width  : 320px;
            max-width  : 480px;

            .re-toolkit-card-list {
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
}
