header:first-of-type {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vw;
    transition: min-height .25s ease-in-out;

    @media #{$breakpoint-sm-up} {
        min-height: 66vw;
    }

    @media #{$breakpoint-md-up} {
        background-position: center;
        background-size: auto;
        background-repeat: repeat;
        min-height: 50vw;
    }

    @media #{$breakpoint-lg-up} {
        height: 33vw;
        min-height: 0;
        max-height: px2rem(480);
    }

    .header-nav {
        position: absolute;
        top: 0;
        right: 0;
        padding: px2rem(20);

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: color(white);
            font-size: px2rem(16);
            font-weight: 700;
            line-height: px2rem(20);
            text-shadow: 0 1px 1px #000000;
            min-height: 20;
            padding: px2rem(8) px2rem(14);
            transition: all .25s ease-in-out;

            &:hover,
            &:focus {
                text-decoration: none;
                border-radius: 4px;
                background-color: color(primary);
                box-shadow: 0 0 5px 2px rgba(255,255,255,.125);
                text-shadow: none;
                opacity: 1;
            }

            img {
                width: auto;
                height: px2rem(20);
                padding-right: px2rem(5);
            }
        }
    }
}
