body {
    overflow-x: hidden;
    background-color: color(light-grey);
}


.shadow {
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;

}

.demo-site {
    min-width: 320px;
    overflow-x: hidden;
}
