
nav.main {
    position: relative;
    width: 100%;
    height: px2rem(100);
    background-color: color(white);

    &.fixed {
        top: 0;
        left: 0;
        position: fixed;
        z-index: 500000;
        background-color: rgba(255, 255, 255, 0.95);
    }

    @media #{$breakpoint-sm-down} {
        height: px2rem(72);
    }

    > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        position: absolute;
        z-index: 9000;
        box-shadow: 0 2px 8px 4px rgba(0,0,0,0.11);

        transition: all .25s ease-in-out;

        > ul {
            width: 100%;
            max-width: px2rem(768);
            display: flex;
            align-items: stretch;
            justify-content: center;
            margin: 0;
            padding: 0;

            li {

                display: flex;
                align-items: stretch;
                justify-content: center;

                a, button, label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: px2rem(20) px2rem(40);
                    text-transform: uppercase;
                    font-weight: 600;
                    color: color(dark-grey);
                    font-size: px2rem(20);
                    transition: all .25s ease-in-out;
                    border-bottom: 3px solid transparent;
                    outline: none;
                    cursor: pointer;

                    @media #{$breakpoint-sm-down} {
                        padding: px2rem(20) px2rem(16);
                        font-size: px2rem(14);
                    }

                    &.active,
                    &:hover,
                    &:focus {
                        color: color(primary);
                        text-decoration: none;
                        border-bottom: 3px solid color(primary);
                    }

                    &.active {
                        color: color(grey);
                        border-bottom: 3px solid color(grey);
                    }
                }
            }
        }
    }

}
