

// Root font-size:
$root-font: 16px;

// Colors
$colors: (
    primary: #286782,
    secondary: #709AAC,
    tertiary: #FBFAFA,
    white: #FFFFFF,
    grey: #969696,
    dark-grey: #555559,
    light-grey: #EFEFEF
);


// Sizes
$sizes: (2, 4, 8, 16, 32, 64, 80, 128, 160, 256);

// Buttons
$button-sizes: (xs, sm, md, lg, xl);
$button-font: (12, 14, 20, 24, 32);
$button-padV: (8, 16, 24, 32, 64);
$button-padH: (16, 32, 48, 64, 128);
