import React from 'react';

/**
 * -----------------------------------------------------------------------------
 * Functional Component: {{name}}
 * -----------------------------------------------------------------------------
 */
const {{name}} = (props) => {
    return (
        <div>
            COMPONENT
        </div>
    );
};

export default {{name}};
