$grey-light       : #F3F3F3;
$grey             : #CCCCCC;
$gray             : #7A7A7A;
$white            : #FFFFFF;
$black            : #000000;
$toolbar-svg-fill : #00B29F;
$drop-shadow      : 1px 0 15px 1px rgba(0,0,0,.05);
$border-color     : lighten($grey, 11%);
