$grey-light       : #F3F3F3;
$grey             : #CCCCCC;
$gray             : #7A7A7A;
$white            : #FFFFFF;
$black            : #000000;
$blue             : #4F82BA;
$toolbar-svg-fill : lighten($blue, 10%);
$drop-shadow      : 1px 0 15px 1px rgba(0,0,0,.05);
$border-color     : lighten($grey, 11%);
