html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body {
    background-color: $grey-light;
    position: relative;
    overflow-x: hidden;
}

.re-toolkit-container {
    display: flex;
    align-items: stretch;
    padding-top: $header-height;
    height: 100vh;
}
