@import 'colors';

$breaks: (
    xs: 767px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1920px,
);

$header-height: 60px;
$toolbar-width: 72px;
$sidebar-width: 320px;
$search-height: 64px;
$menu-width: $sidebar-width - $toolbar-width;
$menu-height-offset: $header-height + $search-height;

$z-top    : 100000;
$z-middle : 50000;
$z-bottom : 25000;
