.re-toolkit-sidebar {
    display: flex;
    //position: relative;
    //min-width: $sidebar-width;
    width: $sidebar-width;
    height: calc(100vh - #{$header-height});
    overflow: hidden;
    background-color: $white;
    box-shadow: $drop-shadow;
    flex-shrink: 0;
    // margin-left: 0;
    // margin-right: 0;

    &.collapsed {
        display: none;
        width: 0px;
    }

    &.right {
        order: 10;
        flex-direction: row-reverse;
    }

    @include breakpoint(xs) {
        &-closed {
            box-shadow: none;
            width: 0px;
            min-width: 0px;
        }
    }
}
