.re-toolkit-sidebar {
    display: flex;
    position: relative;
    min-width: $sidebar-width;
    width: $sidebar-width;
    height: calc(100vh - #{$header-height});
    overflow: hidden;
    background-color: $white;
    //z-index: 10;
    box-shadow: $drop-shadow;

    &-closed {
        box-shadow: none;
        width: 0px;
        min-width: 0px;
    }

    &.right {
        order: 10;
        flex-direction: row-reverse;

        .show-left {
            display: none;
        }
    }

    &-left {
        .show-right {
            display: none;
        }
    }
}
