.re-toolkit-sidebar {
    width: 320px;
    min-width: 320px;
    overflow-x: hidden;
    display: flex;
    align-items: stretch;
    background-color: $white;
    z-index: 10;
    box-shadow: $drop-shadow;


    &-closed {
        box-shadow: none;
        width: 0px;
    }
}
